body {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
a {
    text-decoration: none;
    display: inline;
    color: black;
}
header {
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
header .header__icons {
    width: 100%;
    height: 50px;
    display: grid;
    background-color: #47cfac;
}
header .header__icons .icons {
    width: 300px;
    height: auto;
    display: flex;
    /*justify-items: center;*/
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    margin-right: 50px;
}
head .icons span {
    color: white;
}
nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90px;
}
nav .header__logo {
    margin-left: 50px;
}
nav .header__logo img {
    width: 220px;
    margin-top: 10px;
}
nav .header__profile {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
}
nav .header__profile a {
    color: black;
    border-bottom: 1px solid black;
    font-family: monospace;
    font-weight: bold;
}
main {
    height: 100%;
    background-image: url(../assets/img/Cover.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
}
main .main__container {
    font-family: monospace;
    text-align: center;
    margin-top: 6rem;
}
main .main__container--title {
    color: white;
    letter-spacing: 10px;
    font-size: 40px;
    width: 50rem;
}
main .main__container--button {
    width: 100px;
    height: 30px;
    margin: 0 auto;
    padding-top: 10px;
    background-color: #47cfac;
}
main .main__container--button a {
    font-weight: bold;
    font-size: 15px;
    margin-top: 5px;
}