body {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-family: monospace;
}
a {
    text-decoration: none;
    display: inline;
    color: black;
}
header {
    width: 100%;
    height: 140;
    display: grid;
    /*grid-template-rows: 1fr 1fr;*/
}
header .header__icons {
    width: 100%;
    height: 50px;
    display: grid;
    background-color: #ffb350;
}
header .header__icons .icons {
    width: 300px;
    height: auto;
    display: flex;
    /*justify-items: center;*/
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    margin-right: 50px;
    font-size: 25px;
}
header .icons span {
    color: #303841;
}
nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90px;
    background-color: #f3f3f3;
}
nav .header__logo {
    margin-left: 50px;
}
nav .header__logo img {
    width: 220px;
    margin-top: 10px;
}
nav .header__profile {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
}
nav .header__profile a {
    color: #303841;
    border-bottom: 1px solid #303841;
    font-size: 20px;
    font-weight: bold;
}
.home-main {
    height: 100%;
    background-image: url(../assets/img/pexels-sourav-mishra-3644828.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
}
.home-main .home-main__container {
    text-align: center;
    margin-top: 6rem;
}
.home-main .home-main__container--title {
    color: #303841;
    letter-spacing: 10px;
    font-size: 40px;
    width: 50rem;
}
.home-main .home-main__container--button {
    width: 100px;
    height: 30px;
    margin: 0 auto;
    padding-top: 10px;
    background-color: #ffb350;
    border: 1px solid #303841;
    border-radius: 5px;
}
.home-main .home-main__container--button a {
    font-weight: bold;
    font-size: 15px;
    color: #303841;
    margin-top: 5px;
}
.blogs-main {
    display: grid;
}
.blogs-main__news-container {
    background-color: #ffb350;
    padding: 0 50px 40px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr;
}
.blogs-main__news-image {
    grid-column: 1;
}
.blogs-main__news-image img {

}
.blogs-main__news-info {
    grid-column: 2;
}
.blogs-main__news-info p {
    margin-bottom: 30px;